 <html>
   <head>
     <title>page d'envoi de fichier pour un traitement au back</title>
   </head>
   <body>
     <style>
       form{
         margin-bottom: 0;
       }
       #body{
         width: 800px;
         margin: 0 auto;
       }
       h1,h2,h3,h4,h5,h6{
         text-align: center;
       }
        div:not(:last-of-type){
          margin-bottom: 150px;
        }
		.resultat div:not(:last-of-type){
          margin-bottom: 15px;
        }
        .form, .resultat{
          width: 500px;
          margin: 0 auto;
        }
        form > label{
          display: flex;
          justify-content: space-between;
          text-align: left;
        }
        form > label:not(:last-of-type){
          margin-bottom: 50px;
        }
        .presentation, .form{
          text-align: center;
          border: solid black 1px;
          padding: 15px;
        }
      </style>
      <div id="body">
     <div class="presentation">
        <h2>page d'envoi de fichier pour un traitement au back</h2>
        <p>
          Ce page permet l'upload d'un fichier csv et d'afficher le hash sha256 de chaque ligne
        </p>
     </div>
	 <% if(typeof data === 'undefined') { %>
     <div class="form">
      <form method="POST" action="<%= modulePath %>/upload" encType="multipart/form-data">
        <label><span>Upload du fichier</span><input name="<%= fileFieldName %>" type="file" value="Choisir un fichier"/></label>
        <label><span>Boutton de validation</span><input type="submit" value="Envoyer"/></label>
      </form>
    </div>
	<% } else { %>
	<script>
	 let beginDate;
	 window.onload = () => {
	const endDate = + new Date()
	console.log(beginDate, endDate, (endDate - beginDate)/1000 + "s")
	}
	beginDate = + new Date()
	</script>
	<div class="resultat">
	<% data.forEach((hash) => { %>
		<div><%= hash %></div>
	<% }) %>
	</div>
	<% } %>
  </div>
   </body>
 </html>